.sound-btn {
    display: flex;
    background-color: rgba(255, 255, 255, 0.349);
    height: 25px;
    width: 50px;
    border-radius: 25px;
    border: none;
    flex-direction: row-reverse;
}
.sound-btn-off {
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.349);
}
.circle {
    height: 25px;
    width: 50%;
    background-color: rgba(128, 0, 128, 0.845);
    border-radius: 25px;
    border: none;
}
.act-btns {
    display: flex;
    justify-content: center;
}
.sound-text {

}