body {
    
    
    
    background-color: rgb(57, 110, 75);
}
.image{
    /* margin-top: 200px; */
    margin-left: 100px;

}
.container {
    /* margin-top: 200px; */
    background-color: rgba(255, 255, 255, 0);
    margin-top: -205px;
    margin-left: 100px;
    width: 220px;
}
.row-elements {
    display: flex;
    margin-left: 2px;
}

.row {
    background-color: rgba(113, 128, 0, 0);
    height: 50px;
    width: 50px;
    margin-right: 25px;
    margin-left: 0px;
    margin-top: 17px;
}
.comment-box {
    color:white;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 163px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}
.reset-btn {
    height: 50px;
    /* margin-top: 280px; */
    width: 90px;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    
}
.btns{
    display: flex;
}
.setbg {
    background-color: red;
}
